* {
  &::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    background-color: rgba(241, 241, 241, 0.5);
  }
  &::-webkit-scrollbar-thumb {
    background-color: #d9d9d9;
    border-radius: 1px;
    &:hover {
      background-color: #cccccc;
    }
  }
}

body {
  margin: 0;
  font-family: unset;
  font-size: 14px;
  color: black;
  overflow: hidden;
}

.v-modal {
  opacity: 0.2;
}

/* custom-electron-titlebar */
.menubar-menu-container {
  overflow-y: visible;
}

/* Menu */
.el-menu {
  border-right: none;
}
.el-menu-item {
  height: 40px;
  line-height: 40px;
}
.el-menu-item.is-active {
  background-color: #dbdbdc !important;
}

/* Dialog */
.el-dialog__title {
  color: #57585c;
  letter-spacing: 1px;
  font-size: 18px;
  font-weight: 600;
}

/* Tree */
.el-tree-node__content {
  color: black;
}

/* Tabs */
.el-tabs--border-card > .el-tabs__content {
  padding: 0;
}

/* Loading */
.custom-loading-class {
  background: #fff;
  .el-loading-spinner {
    i.el-icon-loading {
      font-size: 26px;
    }
    .el-loading-text {
      font-size: 14px;
    }
  }
}
