body {
  margin: 0;
  font-family: Segoe WPC, Segoe UI, sans-serif;
  font-size: 14px;
  color: #262626;
}

/* Menu */
.el-menu {
  border-right: none;
}

/* Dialog */
.el-dialog__title {
  color: #57585c;
  letter-spacing: 1px;
  font-size: 18px;
  font-weight: 600;
}
